body {
  background-color: rgb(116, 136, 182);
  color: white;
}
#content {
  max-width: 600px;
  margin: auto;
}
#content2 {
  text-align: center;
}
table, th, td{
  border: 1px solid black;
}
form {
  max-width: 1000px;
  margin: auto;
}
